<ul>
    <li *ngFor= "let user of users">
        <h2>Name:{{ user.name }}</h2>
        <p>Username:{{ user.username }}</p>
        <p class="blue">MemberNumber: {{user.id}} </p>
    </li>
</ul>
<div>
    <ul>
        <li>
            <p>there are {{users.length}} members in the VIP </p>
        </li>
    </ul>
</div>

