<!-- <button (click) = "toggleForm()">Add Character</button>

 <div>
    <form>
        <div>
            <label>Persona</label>

            <label>First Name</label>
            <input type="text">

            <label>Last Name</label>
            <input type="text">
        </div>
    </form>
</div> -->


<!-- All the mouse events we can do
<button (click) = "triggerEvent($event)">Click</button>
<button (mouseover) = "triggerEvent($event)">MouseOver</button>
<button (mouseout) = "triggerEvent($event)">MouseOut</button>
<button (mousedown) = "triggerEvent($event)">MouseDown</button>
<button (mouseup)  = "triggerEvent($event)">MouseUp</button>
<button (dblclick) = "triggerEvent($event)">DoubleClick</button>

 KeyBoard Events -->
<!-- <input (keydown)="fireEvent(event)" type="text">
<input (keypress)="fireEvent(event)" type="text">
<input (keyup="fireEvent(event)" type="text">
<input (focus)="fireEvent(event)" type="text">
<input (blur)="fireEvent(event)" type="text">

<div class="container">
    <button [disabled]="!enableAddUser" [ngClass]="currentClasses">Add New Person</button> -->
 

    <!-- ngClass allows us to bind one or more css classes to the element -->
    <!-- <ul>
        <li *ngFor="let character of characters">
            <div class="row">
                <div class="col-sm-4">
                    <img [src]="character.img" class="img-fluid">
                     <img src="{{character.img}}" > -->
                <!-- </div>
                <div class="col-sm-8">
                    <h1 [ngStyle]="currentStyle">{{character.persona | uppercase}}
                        <button (click) = "toffleInfor(character)"></button>
                        <i [ngClass] = "character.role ? 'fa faminus : fa fa-plus'"></i>
                    </h1>
                    <h2 [ngStyle]="currentStyle">{{ character.firstName }} {{ character.lastName }}</h2>

                    <ul class = "list-group" *ngIf="character.hide">
                        <li class = "list-group-item">{{character.age}}</li>
                        <li class = "list-group-item">{{character.address.street}},{{character.address.city}}, {{{{character.address.state}}}}</li>
                        <li *ngIf="character.balance" class = "list-group-item">{{character.balance | currency}}</li>
                        <li *ngIf="character.memberSince" class = "list-group-item">{{character.memverSince | date:"mm/dd/yy"}}</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div> -->
