<h1>Posts GET Request</h1>
<div class="container">
  <div class="row">
<!-- using *ngFor to loop through the array of posts-->
    <div class="card card-body" *ngFor="let post of posts">
      <h5 class="card-title"> {{ post.title }}</h5>
      <p class="card-text"> {{ post.body }}</p>
    </div>
  </div>
</div>




