
<h1>Posts Get Requests</h1>

<!-- we need to pass our selectedPost property into the form component 
  *Input is represented by []
  *Output is represented by ()
-->

<app-comment-form 
[currentComment]="selectedComment" [isEditing]="isEdit"
(updatedComment)="onUpdatedComment($event)"
(newComment)="onNewComment($event)"></app-comment-form>


<h1> Comments </h1>
<div class="container">
    <div class="row">
        <div class="card-body card" *ngFor="let Comment of comments">

            <h5>I.D {{ Comment.id }} </h5>
            <h5>Email {{ Comment.email }} </h5>
            <h5>Name {{ Comment.name }} </h5>
            <h5>Body {{ Comment.body }} </h5>

        </div>
    </div>
</div>
