<!-- <h1>comments get requests</h1>
<app-comments-form (newComment)="onNewComment($event)" ></app-comments-form> 
<div class="container">
    <div class="row">
        <div class="card card-body" *ngFor="let comment of comments">
            <h3 class="card-title"> {{ comment.id }} </h3>
            <p class="card-text"> {{ comment.name }} </p>
        </div>
    </div>
</div>  -->
<div>
    <form>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="currentComment.email" name="email" #email>

            `<label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="currentComment.name" name="name" #name>
            `
            <label>Body</label>
            <input type="text" class="form-control" [(ngModel)]="currentComment.body" name="body" #body>

            <input type="hidden" [(ngModel)]="currentComment.id" name="id">
        </div>

            <button
            *ngIf="!isEditing"
            (click)="addComment(email.value, name.value, body.value)"
            class="btn btn-danger btn-block"
            >Submit Comment</button>
            <button
            *ngIf="isEditing"
            (click)="updateComment()"
            class="btn btn-warning btn-block"
            >Update Comment</button>

       
    </form>
</div>
