
<!-- <div>
    <ul>
        <li class="class card-body">
            <li *ngFor= "let movie of movies">
                <h1> {{ movie.title }} </h1>
                <h3> {{ movie.actors }} </h3>
                <h3> {{ movie.director }} </h3>
                <h3> {{ movie.yearReleased }} </h3>
                <ul *ngIf="movie.awards">
                    <li *ngFor= "let award of movie.awards"></li>
                </ul>
            </li>   
        </li>
    </ul>
</div> -->


<div *ngFor="let movie of movies">
    <li class="card card-body mb-3" *ngFor="let movie of movies"
[class.bg-warning]= "movie.rating === 'PG-13'"
[class.bg-danger]= "movie.rating === 'R'"
[class.bg-success]= "movie.rating === 'PG'">

<div class="row">
    <div class="col-6">
        <img class="img-fluid" src="movie.img" alt="">
    </div>
    <h1 class="text-bold text-underline"> {{movie.title | uppercase}}</h1>
    <p>director(s): {{ movie.directior }} </p>
    <h3>Actors: {{mobie.actors}} </h3>
    <p>year it was released: {{movie.yearReleased | date:"MM/DD/YYYY" }} </p>
    <ul *nfIf= "movie.awards">Awards:
        <li *ngIf="movie.awards[0]"> {{ movie.awards[0]}} </li>
        <li *ngIf="movie.awards[1]"> {{ movie.awards[1]}} </li>
        <li *ngIf="movie.awards[2]"> {{ movie.awards[2]}} </li>
        <li *ngFor="let award of movie.awards">

        </li>
    </ul>
    <p>Rating: {{movie.rating}} </p>
    <li> {{award}} </li>
</div>

    </li>
</div>
